# Common
pyyaml
numpy
opencv-python

# Laptop side
ultralytics       # YOLOv8
PySide6           # GUI
matplotlib        # 시각화 (visualize.py들)

# Raspberry Pi side (실제 라파에서)
# RPi.GPIO        # 라파에서만
# pigpio          # 라파에서만 (정밀 PWM)
# adafruit-pca9685  # PCA9685 사용 시
